openapi: 3.0.3
info:
  title: 'Gatewayblvd Documentation'
  description: 'This documentation highlights all endpoints needed to integrate backend services with the skyline modem'
  version: 1.0.0
servers:
  -
    url: 'https://gatewayblvd.net/app/en/api'
paths:
  /api/login:
    post:
      summary: 'This function logs in a user that has been verified previously'
      operationId: thisFunctionLogsInAUserThatHasBeenVerifiedPreviously
      description: ''
      parameters:
        -
          in: query
          name: \Illuminate\Http\Request
          description: $request
          example: maxime
          required: false
          schema:
            type: string
            description: $request
            example: maxime
        -
          in: query
          name: email_or_phone_number
          description: 'The email/phone number of the  user.'
          example: 'jayden@gm.co.uk / +1240291092'
          required: true
          schema:
            type: string
            description: 'The email/phone number of the  user.'
            example: 'jayden@gm.co.uk / +1240291092'
        -
          in: query
          name: password
          description: 'The password of the  user.'
          example: Rock1234@
          required: true
          schema:
            type: string
            description: 'The password of the  user.'
            example: Rock1234@
        -
          in: header
          name: 'Accept-Language:'
          description: ''
          example: 'en,'
          schema:
            type: string
        -
          in: header
          name: 'Accept:'
          description: ''
          example: 'application/json;utf-8,'
          schema:
            type: string
        -
          in: header
          name: 'Connection:'
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n\"data\": []\n\"message\": string\n\"auth_token\": \"Bearer 3|7dUd16GpVXPwy530oqndmGXNDCShwYaQd2cXcp...........\" for this only extract the token excluding the 'Bearer' string, pass this in the header to see sample response payload that is returned\n}"
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email_or_phone_number:
                  type: string
                  description: 'The email/phone number of the  user.'
                  example: 'jayden@gm.co.uk / +1240291092'
                password:
                  type: string
                  description: 'The password of the  user.'
                  example: Rock1234@
              required:
                - email_or_phone_number
                - password
      security: []
  /api/new-user:
    post:
      summary: 'Create a new user saved in the database users table.'
      operationId: createANewUserSavedInTheDatabaseUsersTable
      description: ''
      parameters:
        -
          in: query
          name: \Illuminate\Http\Request
          description: $request
          example: eos
          required: false
          schema:
            type: string
            description: $request
            example: eos
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n\"data\": $user information payload\n\"message\": 'success' or 'error'\n\"auth_token\": \"Bearer 3|7dUd16GpVXPwy530oqndmGXNDCShwYaQd2cXcp...........\" for this only extract the token excluding the 'Bearer' string, pass this in the header to see sample response payload that is returned\n}"
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json;utf-8:
            schema:
              type: object
              properties:
                name:
                  type: String
                  description: 'The name of the user'
                  example: solay
                username:
                  type: string
                  description: 'The username of the  user.'
                  example: jayden
                email:
                  type: string
                  description: 'The email'
                  example: Rock1234@gmail.com
                password:
                  type: string
                  description: 'The password of the  user, required to be confirmed.'
                  example: Rock1234@
                password_confirmation:
                  type: string
                  description: 'The password confirmation of the user registering or being registered'
                  example: Rock1234@
                phone_number:
                  type: string
                  description: 'the phone number of the user example: +1239028109211'
                  example: molestiae
              required:
                - name
                - username
                - email
                - password
                - password_confirmation
                - phone_number
      security: []
  /api/forgot-password:
    post:
      summary: 'This function finds a user and return the user to move to another page to enter the new password and confirm it'
      operationId: thisFunctionFindsAUserAndReturnTheUserToMoveToAnotherPageToEnterTheNewPasswordAndConfirmIt
      description: ''
      parameters:
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'data': [],\n'message': String,\n'status': boolean\n\n}"
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json;utf-8:
            schema:
              type: object
              properties:
                String:
                  type: email
                  description: 'maximum of 15 characters of'
                  example: JoyKam
              required:
                - String
      security: []
  /api/update-password:
    post:
      summary: "Update the user's password, this function doesn't require authentication token\nThe username and email field is non-updateable to avoid conflicts with other users"
      operationId: updateTheUsersPasswordThisFunctionDoesntRequireAuthenticationTokenTheUsernameAndEmailFieldIsNonUpdateableToAvoidConflictsWithOtherUsers
      description: ''
      parameters:
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'data': []\n'message': String\n}"
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json;utf-8:
            schema:
              type: object
              properties:
                password:
                  type: String
                  description: ''
                  example: johnreid
                password_confirmation:
                  type: required
                  description: ''
                  example: johnreid
                email:
                  type: String
                  description: 'maximum of 15 characters of'
                  example: JoyKam
              required:
                - password
                - email
      security: []
  /api/confirm-otp-code:
    get:
      summary: 'This function confirms otp code before navigation to the next screen to enter the new password'
      operationId: thisFunctionConfirmsOtpCodeBeforeNavigationToTheNextScreenToEnterTheNewPassword
      description: ''
      parameters:
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'data': boolean\n'message': string\n}"
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json;utf-8:
            schema:
              type: object
              properties:
                String:
                  type: email
                  description: ''
                  example: jro@gmail.co.uk
      security: []
  /api/v1/logout-user:
    post:
      summary: 'This function logs out the currently authenticated user and clear the AUTH_TOKEN'
      operationId: thisFunctionLogsOutTheCurrentlyAuthenticatedUserAndClearTheAUTHTOKEN
      description: ''
      parameters:
        -
          in: query
          name: Request
          description: $request
          example: culpa
          required: false
          schema:
            type: string
            description: $request
            example: culpa
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n\"data\": []\n\"message\": string\n}"
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json;utf-8:
            schema:
              type: object
              properties:
                Request:
                  type: $request
                  description: object
                  example: voluptatibus
      security: []
  '/api/v1/get-sim-details-by-port-port-number/{port_id}':
    get:
      summary: 'This displays the entire information about a sim card fetching by the port number.'
      operationId: thisDisplaysTheEntireInformationAboutASimCardFetchingByThePortNumber
      description: ''
      parameters:
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'data': \\Illuminate\\Http\\Response $simData,\n'message': 'success'\n}"
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/octet-stream:
            schema:
              type: object
              properties:
                $port_id:
                  type: Integer
                  description: ''
                  example: '1'
      security: []
    parameters:
      -
        in: path
        name: port_id
        description: 'The ID of the port.'
        example: ea
        required: true
        schema:
          type: string
  '/api/v1/get-sims-by-simcard-number/{sim_number}':
    get:
      summary: 'This displays the entire information about a sim card fetching by the port number.'
      operationId: thisDisplaysTheEntireInformationAboutASimCardFetchingByThePortNumber
      description: ''
      parameters:
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'data': \\Illuminate\\Http\\Response $simData,\n'message': 'success'\n}"
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/octet-stream:
            schema:
              type: object
              properties:
                $sim_number:
                  type: Integer
                  description: ''
                  example: '+1520109209'
      security: []
    parameters:
      -
        in: path
        name: sim_number
        description: ''
        example: consectetur
        required: true
        schema:
          type: string
  '/api/v1/update-user/{id}':
    put:
      summary: 'Update the specified resource in storage.'
      operationId: updateTheSpecifiedResourceInStorage
      description: 'The username and email field is non-updateable to avoid conflicts with other users'
      parameters:
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'data': \\App\\Models\\User $userModified,\n'message':'success' or 'error'\n}"
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json;utf-8:
            schema:
              type: object
              properties:
                name:
                  type: String
                  description: ''
                  example: johnreid
                password:
                  type: String
                  description: 'maximum of 15 characters of'
                  example: JoyKam
              required:
                - name
                - password
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the update user.'
        example: debitis
        required: true
        schema:
          type: string
  '/api/v1/get-contact/{id}':
    get:
      summary: 'Display a single contact.'
      operationId: displayASingleContact
      description: ''
      parameters:
        -
          in: query
          name: Integer
          description: $id
          example: '1'
          required: false
          schema:
            type: string
            description: $id
            example: '1'
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n 'data': [],\n 'message': 'success' or 'error\n\n}"
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the get contact.'
        example: eaque
        required: true
        schema:
          type: string
  '/api/v1/update-sim-contact/{id}':
    put:
      summary: 'This function modifies a contact'
      operationId: thisFunctionModifiesAContact
      description: ''
      parameters:
        -
          in: query
          name: \Illuminate\Http\Request
          description: $request
          example: excepturi
          required: false
          schema:
            type: string
            description: $request
            example: excepturi
        -
          in: query
          name: Integer
          description: $id
          example: aperiam
          required: false
          schema:
            type: string
            description: $id
            example: aperiam
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'data': [],\n'message': string\n}"
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/octet-stream:
            schema:
              type: object
              properties:
                $contact_no:
                  type: String
                  description: ''
                  example: '+102901990190'
                $contact_alt_number:
                  type: String
                  description: ''
                  example: '+1290091800029'
                $contact_fname:
                  type: String
                  description: ''
                  example: John
                $contact_lname:
                  type: String
                  description: ''
                  example: Sean
                $sim_contact_saved_to:
                  type: String
                  description: ''
                  example: '+12390930944'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the update sim contact.'
        example: autem
        required: true
        schema:
          type: string
  '/api/v1/delete-sim-module/{id}':
    delete:
      summary: 'Remove the specified resource from storage.'
      operationId: removeTheSpecifiedResourceFromStorage
      description: ''
      parameters:
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'data': \\Illuminate\\Http\\Response,\n'status':'success' or 'error'\n}"
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/octet-stream:
            schema:
              type: object
              properties:
                $simModule:
                  type: \App\Models\SimModule
                  description: 'a SimModule object'
                  example: commodi
                $id:
                  type: Integer
                  description: ''
                  example: laboriosam
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the delete sim module.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/update-sim-module/{id}':
    put:
      summary: 'Update the specified resource in storage.'
      operationId: updateTheSpecifiedResourceInStorage
      description: ''
      parameters:
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n\n'data':\\Illuminate\\Http\\Response $simModule,\n'message': 'success' or 'fail'\n\n}"
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/octet-stream:
            schema:
              type: object
              properties:
                \Illuminate\Http\Request:
                  type: $request
                  description: ''
                  example: quas
                \App\Models\SimModule:
                  type: $simModule
                  description: ''
                  example: rem
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the update sim module.'
        example: 1
        required: true
        schema:
          type: integer
  /api/v1/save-new-contact:
    post:
      summary: 'Store a newly created contact'
      operationId: storeANewlyCreatedContact
      description: ''
      parameters:
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        302:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"UTF-8\" />\n        <meta http-equiv=\"refresh\" content=\"0;url='http://gatewayblvd.net/app/en/api/login'\" />\n\n        <title>Redirecting to http://gatewayblvd.net/app/en/api/login</title>\n    </head>\n    <body>\n        Redirecting to <a href=\"http://gatewayblvd.net/app/en/api/login\">http://gatewayblvd.net/app/en/api/login</a>.\n    </body>\n</html>"
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/octet-stream:
            schema:
              type: object
              properties:
                contact_no:
                  type: String
                  description: ''
                  example: '+12901009100'
                contact_fname:
                  type: String
                  description: ''
                  example: John
                contact_lname:
                  type: String
                  description: ''
                  example: Reid
                sim_contact_saved_to:
                  type: String
                  description: ''
                  example: "+12410209102 - //you can make this a drop-down selection to pick the sim number from the list of all sim cards' numbers stored initially instead of making the user enter it manually"
      security: []
  /api/v1/add-new-sim-configuration:
    post:
      summary: 'Creating a new sim module in modem port, saved to the database for state retrieval during app loading.'
      operationId: creatingANewSimModuleInModemPortSavedToTheDatabaseForStateRetrievalDuringAppLoading
      description: ''
      parameters:
        -
          in: query
          name: \Illuminate\Http\Request
          description: $request
          example: molestias
          required: false
          schema:
            type: string
            description: $request
            example: molestias
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'data'=>\\Illuminate\\Http\\Response $newSim object, this represents the sim module that was just created\n'message'=>'Sim card module set and saved successfully\n\n\n}"
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json;utf-8:
            schema:
              type: object
              properties:
                sim_number:
                  type: string
                  description: ''
                  example: '+16302901990'
                sim_port_number:
                  type: Integer
                  description: 'unique:'
                  example: '1,2'
                current_port_state:
                  type: Integer
                  description: 'Default: 1'
                  example: unde
              required:
                - sim_number
                - sim_port_number
                - current_port_state
      security: []
  '/api/v1/get_contact_by_fname/{}':
    get:
      summary: 'This function retrieves a contact by searching with the first name'
      operationId: thisFunctionRetrievesAContactBySearchingWithTheFirstName
      description: ''
      parameters:
        -
          in: query
          name: $f_name
          description: String
          example: john
          required: false
          schema:
            type: string
            description: String
            example: john
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'data': \\Illuminate\\Http\\Response $response $result,\n'message': 'success' or 'error'\n}"
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: ''
        description: ''
        example: voluptatem
        required: true
        schema:
          type: string
  '/api/v1/get-sim-port-state/{port_id}':
    get:
      summary: "This function retrieves the port state of a modem port that has a sim on it, if the reason token is 'OK', modify the state of the sim\nby calling API /update-sim-module endpoint"
      operationId: thisFunctionRetrievesThePortStateOfAModemPortThatHasASimOnItIfTheReasonTokenIsOKModifyTheStateOfTheSimbyCallingAPIupdateSimModuleEndpoint
      description: ''
      parameters:
        -
          in: query
          name: $port_id
          description: Integer
          example: '1,2,3-8'
          required: false
          schema:
            type: string
            description: Integer
            example: '1,2,3-8'
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
        -
          in: header
          name: Host
          description: ''
          example: '54.179.122.227:52538'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'data':json_decode(\\Illuminate\\Http\\Response $response),\n'id': sim_module primary key reference\n'message':'success' or 'error'\n}"
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: port_id
        description: 'The ID of the port.'
        example: quibusdam
        required: true
        schema:
          type: string
  /api/v1/get-contact-by-number:
    get:
      summary: 'Show Contact by Phone Number, this retrieves all the isntances of the phone number perhaps its saved on more than one sim'
      operationId: showContactByPhoneNumberThisRetrievesAllTheIsntancesOfThePhoneNumberPerhapsItsSavedOnMoreThanOneSim
      description: ''
      parameters:
        -
          in: query
          name: $contact_number
          description: String
          example: '+1289309200019'
          required: false
          schema:
            type: string
            description: String
            example: '+1289309200019'
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'data': []\n'message':'success'\n}"
      tags:
        - Endpoints
      security: []
  '/api/v1/get-contact-by-host/{sim_number}':
    get:
      summary: 'this function gets all contacts on a particular sim card by its number'
      operationId: thisFunctionGetsAllContactsOnAParticularSimCardByItsNumber
      description: ''
      parameters:
        -
          in: query
          name: $sim_number
          description: String
          example: qui
          required: false
          schema:
            type: string
            description: String
            example: qui
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'data': \\Illuminate\\Http\\Response $response $allContacts,\n'message': 'success' or 'error'\n}"
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: sim_number
        description: ''
        example: adipisci
        required: true
        schema:
          type: string
  '/api/v1/get-contact-by-port-num/{port_number}':
    get:
      summary: 'this function gets all contacts on a particular sim card by its number'
      operationId: thisFunctionGetsAllContactsOnAParticularSimCardByItsNumber
      description: ''
      parameters:
        -
          in: query
          name: $port_number
          description: String
          example: dignissimos
          required: false
          schema:
            type: string
            description: String
            example: dignissimos
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'data': \\Illuminate\\Http\\Response $response $allContacts,\n'message': 'success' or 'error'\n}"
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: port_number
        description: ''
        example: aut
        required: true
        schema:
          type: string
  '/api/v1/change-contact-number-state/{contact_id}':
    put:
      summary: 'This function alters the state of a sim contact'
      operationId: thisFunctionAltersTheStateOfASimContact
      description: ''
      parameters:
        -
          in: query
          name: Request
          description: $request
          example: impedit
          required: false
          schema:
            type: string
            description: $request
            example: impedit
        -
          in: query
          name: $contact_id
          description: Integer
          example: '1,2,3 etc'
          required: false
          schema:
            type: string
            description: Integer
            example: '1,2,3 etc'
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'data': \\Illuminate\\Http\\Response $response $res,\n'message': 'success' or 'error'\n}"
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json;utf-8:
            schema:
              type: object
              properties:
                $contact_state:
                  type: 'Example:'
                  description: true/false
                  example: natus
      security: []
    parameters:
      -
        in: path
        name: contact_id
        description: 'The ID of the contact.'
        example: dolores
        required: true
        schema:
          type: string
  '/api/v1/get-sms-messages-by-portnum/{sim_num}':
    get:
      summary: ''
      operationId: getApiV1GetSmsMessagesByPortnumSim_num
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: sim_num
        description: ''
        example: impedit
        required: true
        schema:
          type: string
  '/api/v1/get-sms-messages-by-port/{port_num}':
    get:
      summary: ''
      operationId: getApiV1GetSmsMessagesByPortPort_num
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: port_num
        description: ''
        example: sit
        required: true
        schema:
          type: string
  '/api/v1/delete-sms-resource/{id}':
    delete:
      summary: 'This function is to remove or change the state of an sms'
      operationId: thisFunctionIsToRemoveOrChangeTheStateOfAnSms
      description: ''
      parameters:
        -
          in: query
          name: $id
          description: 'Integer Sms id in the database table'
          example: est
          required: false
          schema:
            type: string
            description: 'Integer Sms id in the database table'
            example: est
        -
          in: header
          name: Connection
          description: ''
          example: close
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'message':'success' or 'error'\n}"
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the delete sms resource.'
        example: sed
        required: true
        schema:
          type: string
  /api/v1/get-all-sms-on-modem:
    get:
      summary: ''
      operationId: getApiV1GetAllSmsOnModem
      description: ''
      parameters:
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        302:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"UTF-8\" />\n        <meta http-equiv=\"refresh\" content=\"0;url='http://gatewayblvd.net/app/en/api/login'\" />\n\n        <title>Redirecting to http://gatewayblvd.net/app/en/api/login</title>\n    </head>\n    <body>\n        Redirecting to <a href=\"http://gatewayblvd.net/app/en/api/login\">http://gatewayblvd.net/app/en/api/login</a>.\n    </body>\n</html>"
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/octet-stream:
            schema:
              type: object
              properties:
                'NULL':
                  type: This
                  description: 'function retrieves all the sms sent to the sim cards on all used ports on modem'
                  example: accusantium
      security: []
  '/api/v1/get-sms-stats/{port_id}/{slots}/{type}':
    get:
      summary: 'This function fetches all sms sent to the modem via the sim cards'
      operationId: thisFunctionFetchesAllSmsSentToTheModemViaTheSimCards
      description: ''
      parameters:
        -
          in: query
          name: $port_id
          description: Integer
          example: '1,2,3-8'
          required: false
          schema:
            type: string
            description: Integer
            example: '1,2,3-8'
        -
          in: query
          name: $id
          description: 'Integer $slots'
          example: '1'
          required: false
          schema:
            type: string
            description: 'Integer $slots'
            example: '1'
        -
          in: query
          name: $type
          description: String
          example: '0,1,2,3 or all'
          required: false
          schema:
            type: string
            description: String
            example: '0,1,2,3 or all'
        -
          in: header
          name: Connection
          description: ''
          example: close
          schema:
            type: string
        -
          in: header
          name: Host
          description: ''
          example: '54.179.122.227:52538'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'message':'success' or 'error'\n}"
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: port_id
        description: 'The ID of the port.'
        example: inventore
        required: true
        schema:
          type: string
      -
        in: path
        name: slots
        description: ''
        example: maxime
        required: true
        schema:
          type: string
      -
        in: path
        name: type
        description: ''
        example: debitis
        required: true
        schema:
          type: string
  /api/v1/send-single-sms:
    post:
      summary: 'This function sends single sms'
      operationId: thisFunctionSendsSingleSms
      description: ''
      parameters:
        -
          in: query
          name: \illuminate\Http\Request
          description: $request
          example: magni
          required: false
          schema:
            type: string
            description: $request
            example: magni
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
        -
          in: header
          name: Host
          description: ''
          example: '54.179.122.227:52538'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'data':'message',\n'status': Response $response\n}"
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json;utf-8:
            schema:
              type: object
              properties:
                recipient:
                  type: String
                  description: ''
                  example: '+1234567788'
                _msg:
                  type: String
                  description: ''
                  example: 'hello how are you doing today?'
                sim_port_number:
                  type: Integer
                  description: ''
                  example: 1-8
      security: []
  /api/v1/send-bulk-sms:
    post:
      summary: 'This function sends bulk sms'
      operationId: thisFunctionSendsBulkSms
      description: ''
      parameters:
        -
          in: query
          name: \illuminate\Http\Request
          description: $request
          example: esse
          required: false
          schema:
            type: string
            description: $request
            example: esse
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
        -
          in: header
          name: Host
          description: ''
          example: '54.179.122.227:52538'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'data': String\n'status': Response $res\n}"
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/octet-stream:
            schema:
              type: object
              properties:
                _msg:
                  type: String
                  description: ''
                  example: 'hello how are you doing today?'
                sim_port_number:
                  type: Integer
                  description: ''
                  example: 1-8
                recipient:
                  type: array
                  description: ''
                  example:
                    - cumque
                  items:
                    type: String
      security: []
  '/api/v1/change-sms-state/{sms_id}':
    put:
      summary: 'This function changes the state of the sms'
      operationId: thisFunctionChangesTheStateOfTheSms
      description: ''
      parameters:
        -
          in: query
          name: Integer
          description: $sms_id
          example: excepturi
          required: false
          schema:
            type: string
            description: $sms_id
            example: excepturi
        -
          in: query
          name: \Illuminate\Http\Request
          description: $request
          example: enim
          required: false
          schema:
            type: string
            description: $request
            example: enim
        -
          in: header
          name: Connection
          description: ''
          example: keep-alive
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'data': \\Illuminate\\Http\\Response $response $res,\n'id': $sms_id Integer,\n'message': 'successful'\n}"
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/octet-stream:
            schema:
              type: object
              properties:
                new_state:
                  type: required
                  description: ''
                  example: '1, or 2 or 3'
      security: []
    parameters:
      -
        in: path
        name: sms_id
        description: 'The ID of the sms.'
        example: hic
        required: true
        schema:
          type: string
  /api/v1/parse-sms:
    post:
      summary: 'This function parses sms, and decodes it back into its original form using base64_decode()'
      operationId: thisFunctionParsesSmsAndDecodesItBackIntoItsOriginalFormUsingBase64Decode
      description: ''
      parameters:
        -
          in: query
          name: /Illuminate/Http/Request
          description: "<$request>\n\n  * @header Connection keep-alive"
          example: sunt
          required: false
          schema:
            type: string
            description: "<$request>\n\n  * @header Connection keep-alive"
            example: sunt
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n'data': String $msg,\n'message': 'success' or 'error'\n}"
      tags:
        - Endpoints
      security: []
tags:
  -
    name: Endpoints
    description: ''
components:
  securitySchemes:
    default:
      type: apiKey
      name: Authorization
      in: header
      description: "You can retrieve your token by using the 'auth_token' object in the json_decode object returned in the response body dashboard and clicking <b>Generate API token</b>."
security:
  -
    default: []
